.zone-grid {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  gap: 30px;
  padding: 20px 40px 20px 40px;
  margin: 0 auto;
  flex-wrap: nowrap;
}

@media (min-width: 768px) {
  .zone-grid {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .zone-grid {
    flex-direction: row;
  }
}

@media (min-width: 1600px) {
  .zone-grid {
    flex-direction: row;
  }
}
